.big {
  font-weight: 400;
  font-size: 3em;
}

.description {
  font-size: 1.5em;
}

.directions {
  font-family: monospace;
  font-size: 1.3em;
}

.ingredients {
  line-height: 2em;
}

.mandatory {
  color: blue;
}

.small {
  font-weight: 300;
  font-size: 2em;
}

.strong {
  font-weight: 900;
  color: green;
}

.title {
  font-family: Arial, sans-serif;
}
